PS_VERSION=1.6.1.6
DB_SERVER=database:3306
DB_NAME=prestashop
DB_USER=prestashop
DB_PASSWD=prestashop

ADMIN_MAIL=demo@prestashop.com
ADMIN_PASSWD=12345678

PS_LANGUAGE=en
PS_COUNTRY=gb
PS_DOWNLOAD_AUTO=1
PS_INSTALL_AUTO=1
PS_DEV_MODE=1
PS_HOST_MODE=0
PS_HANDLE_DYNAMIC_DOMAIN=1

PS_HOST=localhost:8181
